* {
    /* background-image: url('images/iso.jpg'); */
     background-size: cover; 
     background-color: black;
     background-repeat: no-repeat;
}
.title{
    color:pink;
    padding-left:15px;
    padding-right: 850px;
}  
.navo{
    background-color: rgb(46, 46, 69);
    display:flex;
    justify-content: space-around;
    
}

.nav1{
    color:aliceblue;

}
.nav2{
    color:aliceblue;
}
.icon1 i{
    size:20px;
}
/* .bo{
    justify-content: space-evenly;
    margin:10px
} */
.tab1 p{
    color:rgb(176, 20, 95);
    font-size: 80px;
    font-weight:bolder;
    text-align: center;
    padding-left: 10rem;
    
}
/* .body{
    background-color: rgb(227, 217, 204);
} */
.tab2{
    padding-left: 20rem;
}
.tab3{
    padding-left: 20rem;
}
.dropdown{
    padding-left:20rem ;
}
.form-outline{
    padding-left:20rem;
    height: 30px;
}
.card{
    height: 20rem;
    width: 15rem;
}
.card-deck{
    display:flex;
}
